body {
   background-image: url(bgimg.png); 
   background-size: cover;
}

.maindiv {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttondiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons {
    background-color: rgb(85, 164, 190);
    color: white;
    padding: 10px 40px;
    font-size: 16px;
    font-family: Georgia;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-shadow: 2px 2px 5px gray;
}

.buttons:hover {
    background-color: rgb(40, 40, 126);
}

h1 {
    text-shadow: 2px 2px 5px gray;
    
}

.minittl {

}

.divproj {
    
}
  
  
